<div class="container page-container">
<h1>Start a Clique</h1>


<%= form_for(@clique) do |f| %>

  <% if @clique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clique.errors.count, "error") %> prohibited this clique from being saved:</h2>

      <ul>
      <% @clique.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :queen_bee_id, :value => current_user.id%>

  <div class="form-group">
    <%= f.label :name, "Clique name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= f.label :password, "Password - members will need it to join. Just letters, don't use punctuation." %><br>
    <%= f.text_field :password, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :password_confirmation, "Enter the password again" %><br>
    <%= f.text_field :password_confirmation, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :clue, "A clue to help members guess the password" %><br>
    <%= f.text_field :clue, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= link_to "Cancel", homeroom_user_path(current_user), class: "btn btn-default margin-right" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

</div>