<div class="container page-container">

	<% if @user == @clique.queen_bee %>
		<h1 class="text-center">
			<%= @clique.name %>
			<%= link_to edit_clique_path(@clique) do %>
            	<i class="glyphicon glyphicon-pencil btn btn-default"></i>
        	<% end %>
        </h1>
	<div class="gap-below">
		<p class="text-center">As the Queen Bee, you can edit this clique</p>
	</div>

	<% else %>
		<h1 class="text-center"><%= @clique.name %></h1>
	<% end %>

	<h3 class="gap-below">Password: <%= @clique.password %></h3>

	<div class="list gap-below">
		<h3>Members:</h3>

		<% @clique.users.each do |user| %>
			<p><%= icon "star"%></i><%= user.name_with_initial %><span><%= "(Queen Bee)" if @clique.queen_bee == user%></span></p>
		<% end %>
	</div>


	<div class="gap-below">
		<h3><%= @clique.slambook.name %></h3>
		<%= link_to 'Open it!', slambook_path(@clique.slambook), class: "btn btn-primary" %>
	</div>

	<div class="gap-below">
		<h3 class="margin-below">Want to leave the clique?</h3>
		<%= link_to 'Peace out, jerks', leave_clique_clique_path(user_id: current_user.id), method: :post, class: "btn btn-primary" %>
	</div>

	<%= link_to 'Back to Homeroom', homeroom_user_path(@user), class: "btn btn-default margin-right" %>


</div>