<div class="container page-container">

	<h1 class="text-center"><%= @clique.name %></h1>

	<h3 class="gap-below">Password: <%= @clique.password %></h3>

	<div class="list gap-below">
		<h3>Members:</h3>

		<% @clique.users.each do |user| %>
			<p><%= icon "star"%></i><%= user.name_with_initial %><span><%= "(Queen Bee)" if @clique.queen_bee == user%></span></p>
		<% end %>
	</div>


	<div class="gap-below">
		<%= link_to 'Back to Homeroom', homeroom_user_path(@user), class: "btn btn-default margin-right" %>

		<%= link_to 'Open the Slambook!', slambook_path(@clique.slambook), class: "btn btn-primary" %>
	</div>

	<h3 class="margin-below">Want to leave the clique?</h3>

	<%= link_to 'Peace out, jerks', leave_clique_clique_path(user_id: current_user.id), method: :post, class: "btn btn-primary" %>


</div>