<div class="container page-container">

	<h1 class="text-center"><%= @clique.name %></h1>

	<div class="list gap-below">
		<h3>Members:</h3>

		<% @clique.users.each do |user| %>
			<p><%= icon "star"%></i><%= user.name_with_initial %><span><%= "(Queen Bee)" if @clique.queen_bee == user%></span></p>
		<% end %>
	</div>


	<%= link_to 'Back to Homeroom', homeroom_user_path(@user), class: "btn btn-default margin-right" %>

	<%= link_to 'Open the Slambook!', slambook_path(@clique.slambook), class: "btn btn-primary" %>

</div>