<div class="container page-container">
<h2 class="devise-h2">Edit Account Settings</h2>

<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
  </div> 

  <div class="form-group">
    <%= f.label :pen_color %><br />
    <%= f.select :pen_color, (@pen_colors), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group gap-below">
    <%= link_to "Cancel", user_path(@user), class: "btn btn-default margin-right" %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h2>Delete my account</h2>

<p>Over it? <%= button_to "Bye Felicia", registration_path(@user), data: { confirm: "Are you definitely sure you want to delete your account?" }, method: :delete, class: "btn btn-primary" %></p>

</div>
