<div class="container">

<h1><%= "#{@user.first_name}'s Account" %></h1>

<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<p class="gap-below">Pen color: <%= @user.pen_color %></p>

<%= link_to 'Back to Homeroom', homeroom_user_path(@user), class: "btn btn-default margin-right" %>
<%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-primary" %> 

</div>
