<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :page_type, :value => "question" %>

  <%= f.hidden_field :slambook_id, :value => @slambook.id %>

  <div class="form-group">
    <%= f.label :title, "What do you want to ask?" %><br>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.submit "Make page", class: "btn btn-primary" %>
  </div>
<% end %>
