<p>
  <strong>Slambook:</strong>
  <%= @page.slambook_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @page.page_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
