<div class="container page-container">

	<h1 class="text-center"><%= @page.title %></h1>

	<div class="entries">
		<% @page.entries.each do |entry| %>
			<p class="<%= entry.user.pen_color %>-text"><%= "#{entry.content} - #{entry.user.name_with_initial}" %></p>
		<% end %>
	</div>

	<%= render "entries/form" %>

	<div class="pull-left arrow">
		<% unless @previous_page == nil %>
			<%= link_to page_path(@previous_page) do %>
				<%= image_tag "arrow-back.png" %>
			<% end %>
		<% else %>
			<%= link_to slambook_path(@page.slambook) do %>
				<%= image_tag "arrow-back.png" %>
			<% end %>
		<% end %>
	</div>

	<div class="pull-right arrow">
		<% unless @next_page == nil %>
			<%= link_to page_path(@next_page) do %>
				<%= image_tag "arrow-next.png" %>
			<% end %>
		<% else %>
			<%= link_to new_page_path(slambook_id: @page.slambook.id) do %>
				<%= image_tag "arrow-next.png" %>
			<% end %>
		<% end %>
	</div>

</div>