<h1>Slambooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slambooks.each do |slambook| %>
      <tr>
        <td><%= slambook.name %></td>
        <td><%= link_to 'Show', slambook %></td>
        <td><%= link_to 'Edit', edit_slambook_path(slambook) %></td>
        <td><%= link_to 'Destroy', slambook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slambook', new_slambook_path %>
