<div class="container">

<h1 class="super-huge text-centered"><%= @slambook.name %></h1>


<% @slambook.pages.each do |page| %>
    <p><%= page.title %> <%= link_to 'Show', page %></p>
<% end %>


	  <div class="pull-right arrow">
	    <%= image_tag "arrow-next.png" %>
	  </div>

<%= link_to 'New Page', new_page_path(slambook_id: @slambook.id) %>

</div>