<!DOCTYPE html>
<html class="<%= controller.controller_name %>-page">
<head>
  <title>Slambook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice || alert %>
	<div class="container alert alert-info alert-dismissable in fade">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<p><%= notice || alert %></p>
	</div>
	<% end %>

<%= yield %>

</body>
</html>
